.main-div {
    /* background-color: #5598AF; */
    display: flex;
    justify-content: center;
    align-items: center;
    /* min-height: 10vh; */
    width: 100%;
    border: 2px;
    border-color: #236277;
  }
  
  .container {
    height: 550px;
    max-width: 390px;
    border: 3px solid rgba(255, 255, 255, 0.5);
    border-radius: 20px;
    background: white;
    display: flex;
    flex-direction: column;
  }
  
  .top-part {
    height: 50px;
    background: #236277;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 10px;
    border-radius: 20px;
  }
  
  .top-part svg {
    font-size: 40px;
    color: #E6CB4F;
    cursor: pointer;
  }
  
  .agent-details {
    display: flex;
    align-items: center;
  }
  
  .agent-details img {
    width: 50px;
    height: 50px;
    border: 2px solid white;
    border-radius: 50%;
  }
  
  .agent-text h3 {
    font-size: 15px;
  }
  
  .agent-text p {
    font-size: 11px;
  }
  
  .agent-text span {
    color: #E6CB4F;
  }
  
  .chat-section {
    flex: 1;
    padding: 10px;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
  }

  .left-part img{
    width: 20%;
    border-radius: 50px;
    margin-right: 10px;
    background-color: #236277;
  }
  .left-part .agent-chart {
    display: flex;
    align-items: center;
  }
  .message-container {
    width: 100%;
    display: flex;
    margin-bottom: 10px;
  }
  
  .message-container.assistant {
    justify-content: flex-start;
  }
  
  .message-container.user {
    justify-content: flex-end;
  }
  
  .message {
    max-width: 70%;
    border-radius: 10px;
    padding: 10px;
    word-wrap: break-word;
  }
  
  .message.user {
    background-color: #236277;
    color: white;
  }
  
  .message.assistant {
    background-color: grey;
    color: white;
  }
  
  .bottom-section {
    height: 60px;
    background: #236277;
    display: flex;
    align-items: center;
    padding: 0 10px;
    border-radius: 20px;
  }
  
  .bottom-section textarea {
    flex: 1;
    height: 40px;
    background: #236277;
    color: white;
    border: none;
    resize: none;
    outline: none;
    padding: 10px;
  }
  
  .bottom-section textarea::placeholder {
    color: white;
  }
  
  .bottom-section svg {
    font-size: 30px;
    color: #E6CB4F;
    cursor: pointer;
  }
  