.main-div{
    background-color: #5598AF;
    height: 100%;
    width: 100%;
    margin-bottom: -98px;
}

.main-div{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    width: 100%;
}
.main-div .container{
    height: 550px;
    max-width: 390px;
    /* overflow-x: hidden; */
    overflow-x:hidden;

    /* width: 100%; */

    border: 3px solid rgba(255, 255, 255, .5);
    border-radius: 20px;
    background: white;
    /* overflow-y: scroll; */
    z-index: 100px;
    overflow-y: auto;
    /* overflow-y: inherit; */
    position: relative;
}

.main-div .container .top-part{
    top: 2.5px;
    height: 100px;
    background: #236277;
    display: flex;
    align-items: center;
    position: sticky;
    z-index: 100;
    /* position: fixed; */
    justify-content:space-around;
}

.container .top-part svg{
    font-size: 40px;
    color: #E6CB4F;
    margin-right: 50px;
    cursor: pointer;
}
.main-div .top-part .agent-details{
    display: flex;
    align-items: center;
    /* margin: auto; */
    justify-content: center;
    

}
.main-div .top-part .agent-details img{
    width: 15%;
    border: 2px solid white;
    border-radius: 50%;
    background-color: white;
    margin-top: 10px;
}
.top-part .agent-text{
    margin-left: 10px;
}
.agent-text h3{
    font-size: 15px;
}
.main-div .agent-text p{
    font-size:11px ;
}
.main-div .agent-text span{
    color: #E6CB4F;
}
.main-div .chart-section{
    position: relative;
}
.main-div .chart-section .left-part{
    margin: 60px 0;
    /* width: 100%; */
    max-width: 260px;
    /* position: absolute; */

}
.main-div .left-part .agent-chart{
    display: flex;
    align-items: center;

}
.main-div .left-part img{
    width: 15%;
    background: black;
    border-radius: 50%;
}

.main-div .chart-section .left-part p{
    color: black;
    /* height: 30px; */
    /* width: 300px; */
    font-weight: lighter;
    font-size: 15px;
    background: #75c2db;
    border-radius: 10px;
    padding: 10px;
    margin-left: 10px;
}
.main-div .bottom-section{
    position: sticky;
    margin-top: 50px;
    bottom: 3px;
    height: 45px;
    background: #236277;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-top: 2px solid #236277;
    padding: 10px;

}

.main-div .bottom-section textarea {
    background: #236277;
    /* border-radius: 20px; */
    height: 30px;
    color: black;
    padding: 0 5px;
    width: 80%;
    resize: none;
    outline: none;
    border: none;
    text-transform: capitalize;

}
.main-div textarea ::placeholder{
    color: white;
    font-weight: lighter;
}
.main-div .bottom-section svg{
    color: #E6CB4F;
    font-size: 30px;

}
.chart-section{
    position: relative;
    padding: 10px;
}
.chart-section .right-part{
    margin: -50px 0;
    text-align: right;
    float: right;
    max-width: 260px 0;

}
.chart-section .right-part p {
    color: white;
    margin-bottom: 10px;
    background: black;
    padding: 8px 24px;
    border-radius: 10px;
}

