.patient{
    width: 100%;
}


.patient .column{
    float: left;
    width: 50%;
    padding: 40px;
}
.patient .row{
    display: flex;
    content: "";
    clear: both;
    align-items: center;
    justify-content: space-evenly;

}

.row .column img{
    width: 80%;
    border-radius: 200px;
    text-align: center;
    justify-content: center;
    margin: auto;
    align-items: center;
}
.column .patient-text{
    max-width: 500px;
    text-align: center;
    align-items: center;
    justify-content: center;
    margin: auto;
    font-size: 25px;

}
.column .patient-text h1{
    color: #df3c22;
    margin-bottom: 50px;
}
.column .patient-text button{
    font-size: 25px;
    font-weight: bolder;
    height: 60px;
    width: 300px;
    border-radius: 50px;
    background-color: #df3c22;
    color: white;
    border: none;
    margin-top: 30px;
}
.column .patient-text button svg{
    font-weight: bolder;
}

.column .patient-text button:hover{
    background-color: #5598af;
}
.patient img{
    width: 80%;
    height: 600px;
    border-radius: 20px;
    text-align: center;
    justify-content: center;
    margin: auto;
    align-items: center;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.9);
}
.explore {
    align-items: center;
    justify-content: center;
    display: flex;
    margin-top: 150px;
    color: #df3c22;
}
.about-patients{
    height: 100%;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    margin: auto;
    padding: 3em 0 3em 0;
    margin-top: 20px;

}

.patient .about-patients  .card{
    height: 150px;
    width: 350px;
    margin-top: 10px;
    /* float: left; */
    margin: auto;
    background-color: transparent;
    align-items: center;
    margin: 50px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding: 1em;
    box-shadow: 0 0.25em 1em rgba(0, 0, 0, 0.2);
    border-radius: 15px;
    cursor: pointer;
    flex-direction: column;
    padding: 1em;
   
}

.card svg{
    color: #df3c22;
    font-size: 30px;
    float: left;
    align-items: flex-start;
    margin-right: 30px;
    display: flex;
}
.card .container h4{
    margin-top: 5px;
    color: #df3c22;
    font-size: 25px;
    align-items: center;
    justify-content: center;
    display: flex;
    margin: auto;
}
.card .container button{
    background-color: #df3c22;
    font-size: 15px;
    color: white;
    font-weight: bold;
    height: 50px;
    width: 200px;
    border: none;
    border-radius: 25px;
    align-items: center;
    justify-content: center;
    display: flex;
    margin: auto;
    margin-top: 20px;
}
.card .container button:hover{
    background-color: #5598af;
}

.patient #chatbot-button{
    background-color: #df3c22;
    width: 200px;
    height: 70px;
    border: none;
    border-radius: 25px;
    font-size: 25px;
    font-weight: bold;
    padding: 2px;
    color: white;
    align-items: center;
    justify-content: space-evenly;
    margin: auto;
    display: flex;
    text-decoration: none;

}
.patient #chatbot-button svg{
    font-size: 30px;
    color: white;
}
.patient Link{
    text-decoration: none;
}
.patient #chatbot-button:hover{
    background-color: #5598af;
}