.therapistprofile{
    /* height: 100%; */
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
    margin: auto;
    padding: 3em 0 3em 0;
    margin-top: 20px;

}
.therapistprofile  button{
    margin-left: 30px;
    margin-top: 10px;
    font-size: 12px;
    font-weight: lighter;
    width: 100px;
    color: black;
    height: 30px;
    border-radius: 10px;
    border: none;
    background-color: #eedc8a;
    padding: 5px;
}

.therapistprofile .card{
    
        /* background-color: #E6CB4F; */
        height:750px;
        width: 400px;
        background-color: transparent;
        align-items: center;
        margin: 10px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
        padding: 1em;
        box-shadow: 0 0.25em 1em rgba(0, 0, 0, 0.2);
        border-radius: 15px;
        transition: transform 0.3s ease-in-out;
        cursor: pointer;
    }
    .therapistprofile .card-profile img{
        width: 30%;
        border-radius: 50%;
    
    }
    .therapistprofile .card-profile{
        margin-top: 30px;
        display: flex;
        width: 70%;
        height: 100px;
        padding: 10px;
        background-color: #eedc8a;
        border-radius: 15px;
        margin-left: 10px;
    
    }
    .therapistprofile .card-profile .card-text{
        margin-left: 20px;
        font-size: 16px;
        font-weight: lighter;

    }
    .therapistprofile .card-profile .card-text h4{
        font-size: 15px;
        color: black;
    }
    .therapistprofile .card-profile  .time{
        font-size: 15px;
        font-weight: light;
        color: #5598af;
        margin-top: 30%;
        float: right;
    }
    
    .therapistprofile .card .threads h1{
        color: #5598af;
    }
    .therapistprofile .card .threads h2{
        color: #df3c22;
        margin-top: 30px;
        font-size: 20px;
    }
    .therapistprofile  ul{
        text-decoration: none;
        list-style: none;
        color: #E6CB4F;
    }

    .patientprofile .search{
        width: 80%;
        margin-left: 20px;
        margin-top: 40px;
        align-items: center;
        justify-content: space-evenly;
        display: flex;
        border: black;
        border-radius: 10px;
        height: 50px;
        background-color: #df3c22;
    }
    .patientprofile .search svg{
        font-size: 20px;
        color: white;
    
    }
    .patientprofile .search input{
        border-radius:5px;
        background-color: white;
        height: 30px;
        width: 70%;
        border: none;
        /* background-color: #5598af; */
        /* border-color: white; */
    
    
    }
    .therapistprofile .card .personalinfo h1{
        align-items: center;
        display: flex;
        justify-content: center;
        color: #df3c22;

    }
    .therapistprofile .card .personalinfo img{
        width: 40%;
        border-radius: 40%;
        align-items: center;
        display: flex;
        justify-content: center;
        margin: auto;
        background-color: #E6CB4F;
    }
    
    .card .personalinfo .personal{
        align-items: center;
        display: flex;
        flex-direction: column;
        margin-top: 30px;

    }
    .therapistprofile .personal ul p span{
        font-weight: light;
        color: #df3c22;
    }
    .card .personalinfo .personal ul p{
        font-weight: lighter;
        font-size: 12px;
        color: black;
    }
    .therapistprofile .card .interests h2{
        align-items: center;
        display: flex;
        justify-content: center;
        color:#df3c22;

    }
    .therapistprofile .card .settings {
        display: flex;
        justify-content:space-around;
        margin-top: 30px;
        font-size: 15px;
        margin-left: 5px;
    }
    .therapistprofile .card .settings #log{
        text-decoration: none;
        color: black;
    }
    .therapistprofile .card .settings svg{
        font-size: 20px;
    }
    
