.navbar{
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    height: 5rem;
    /* width: 100%; */
    max-width: 120rem;
    margin: 0 auto;
    padding: 1rem 2rem;
    display: flex;
    align-items: center;
    justify-content: space-around;
    position: sticky;
    top: 0;
    z-index: 3;
}
.logo{
    object-fit: cover;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

    /* height: 5rem; */
    width: 5%;
    border-radius: 50%;
}
/* .desktopMenu{
    justify-content: space-between;
} */
.desktopMenuListItem{
    margin: 1rem;
    cursor: pointer;

}

.desktopMenuListItem:hover{
    color:#5598AF;
    padding-bottom: 0.5rem;
    border-bottom: 3px solid #5598AF;
    font-weight: bolder;
}


.desktopMenuBtn{
    background-color:#E6CB4F;
    color: black;
    font-weight: bolder;
    border-radius: 60px;
    height: 3rem;
    width: 8rem;
    display: flex;
    align-items: center;
    border: none;
    justify-content: space-evenly;
    padding: auto;
}
.desktopMenuBtn:hover{
    background-color: #5598AF;
}

.active{
    color: #5598AF;
    padding-bottom: 0.5rem;
    border-bottom: 3px solid gold;
    
}
.mobMenu{
    display: none;
    /* width: 60px; */
    color:#5598AF;
    font-weight: bold;
    /* object-fit: cover; */
    height: 1.8rem;
    font-size: inherit;
    cursor: pointer;
    /* max-width: 40rem; */



}
.navMenu{
    position: absolute;
    top: 4rem;
    right: 2rem;
    z-index: 2;
    display: flex;
    flex-direction: column;
    padding: 0.5rem;
    height: fit-content;
    min-width: 15rem;
    background:#E6CB4F;
    border-radius: 1rem;


}
.listItem{
    color: black;
    padding: 0.5rem 3rem;
    margin: 0.25rem;
    background: white;

}

@media screen  and (max-width:720px){
    .mobMenu{
        display: flex;
    }
    .desktopMenu{
        display: none;
    }
    .desktopMenuBtn{
        display: none;

    }
    
}